<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <title>{{ title or site.title }}</title>

    {% set css %}
        {% include "../assets/css/style.scss" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>

    {% if page.url == '/' %}
        <script>
            if(location.hash) window.location = `/admin/#${location.href.split("#").pop()}`
        </script>
    {% endif %}

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "@id": "{{ site.url }}#main",
            "name": "{{ site.author }}",
            "email": "{{ site.email }}",
            "jobTitle": "{{ site.role }}"{% if site.socials %},
            "sameAs" : [
                {% for social in site.socials %}"{{ social.url }}"{% if loop.index !== site.socials.length %},{% endif %}
                {% endfor %}
            ]{% endif %}
        }
    </script>

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/icon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/icon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/icon-114.png">
    <meta name="msapplication-TileImage" content="/assets/img/icon-144.png">

    <meta name="theme-color" content="#48C9D0">
    <link rel="icon" type="image/png" href="/assets/img/icon-32.png" sizes="32x32">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ site.author }}: {{ site.lede }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/card.png">
    <meta property="og:image:alt" content="{{ site.author }}: {{ site.lede }}">
</head>
<body>

    <header>
        <h1 class="site-lede"><a href="/">{{ site.title }}</a></h1>
    </header>
    <main id="main">
    {{ content | safe }}
    </main>
    <footer>
        {% if site.copyright %}
            <small>{{ site.copyright }}</small>
        {% endif %}
        {% if site.socials %}
        <nav aria-label="Social links" class="socials">
            <ul>
            {% for social in site.socials %}
                <li>
                    <a href="{{ social.url }}">
                    {% if social.icon %}
                        <img src="{{ social.icon }}" alt="{{ social.site }}" title="{{ social.site }}">
                    {% else %}
                        {{ social.site }}
                    {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </footer>

    <script type="text/javascript">
        (function() {
            document.body.addEventListener('pointermove', ({ x, y }) => {
                const doc = document.documentElement;
                doc.style.setProperty( '--x', x );
                doc.style.setProperty( '--y', y );
            })
        }());
    </script>

    <script>
        (function() {
            let control = document.querySelector( "[data-controls]" ),
                dialog  = document.querySelector( control.dataset.controls );
                closer  = dialog.querySelector( ".btn-close" );

            if( typeof dialog.showModal === "undefined" ) {
                dialog.classList.add( "swapped" );
                control.replaceWith( dialog );
                return;
            }

            control.addEventListener( "click", function( e ) {
                dialog.setAttribute( "aria-hidden", false );
                dialog.showModal();
            });

            closer.addEventListener( "click", function( e ) {
                dialog.setAttribute( "aria-hidden", true );
                dialog.close();
                e.preventDefault();
            });
        }());
    </script>
    <script src="/assets/js/dialog-polyfill.js"></script>
</body>
</html>