---
layout: base.njk
---
<header>
    <h1 class="site-lede">{{ site.title }}</h1>
</header>
<main id="main">
    <h2>{{ title | safe }}</h2>
    <p class="lede">{{ lede | safe }}</p>
    {{ content | safe }}
</main>
<footer>
    {% if site.socials %}
    {% for social in site.socials %}
        {{ social.site }}
        {{ social.url }}
    {% endfor %}
    {% endif %}
</footer>