---
layout: base.njk
---
<header>
    <h1 class="site-lede">{{ site.title }}</h1>
</header>
<main id="main">
    <h2>{{ title | safe }}</h2>
    <p class="lede">{{ lede | safe }}</p>
    {{ content | safe }}
</main>
<footer>
    {% if site.socials %}
    <nav aria-label="Social links">
        <ul>
        {% for social in site.socials %}
            <li>
                <a href="{{ social.url }}">
                {% if social.icon %}
                    <img src="{{ social.icon }}" alt="{{ social.site }}">
                {% else %}
                    {{ social.site }}
                {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
    {% endif %}
</footer>