---
layout: base.njk
---


<h2>{{ title | safe }}</h2>
<p class="lede">{{ lede | safe }}</p>
{{ content | safe }}


<dialog id="dialog" class="modal contact">
    {% include '../contact.html' %}
</dialog>