@font-face {
    font-family: 'Source Sans';
    src: url('/assets/fonts/sourcesanspro-regular.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans';
    src: url('/assets/fonts/sourcesanspro-bold.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Adelle';
    src: url('/assets/fonts/adelle-regular.woff2') format('woff2'),
         url('/assets/fonts/adelle-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Adelle';
    src: url('/assets/fonts/adelle-bold.woff2') format('woff2'),
         url('/assets/fonts/adelle-bold.woff') format('woff');
    font-weight: bold;;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Adelle';
    src: url('/assets/fonts/adelle-italic.woff2') format('woff2'),
         url('/assets/fonts/adelle-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Adelle';
    src: url('/assets/fonts/adelle-bolditalic.woff2') format('woff2'),
         url('/assets/fonts/adelle-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 0 2.5vw;
    font-size: clamp( 1em, 2vw, 1.6em );
    font-family: "Adelle", serif;
    background: #48C9D0;
}
main {
    flex-grow: 2;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    display: inline-block;
}
.sr-only:focus,
.sr-only:active,
.sr-only:hover {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

header {
    width: 100%;
    padding-top: 1.25em;
    max-width: 50em;
}
main {
    width: 100%;
    max-width: 40em;
}
footer {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 40em;
    small {
        font-style: italic;
        font-size: clamp( .85rem, 2vw, 1rem );
        color: #555;
    }
    .socials {
        margin-right: 2.5vw;
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-apart;
        gap: 7.5%;
        list-style: none;
    }
    a {
        font-size: .75em;
        opacity: .75;
        color: rgba(0,0,0,1);
        font-family: "Source Sans", sans-serif;
        transition: opacity .15s linear;
        &:hover {
            opacity: 1;
        }
    }
    img {
        max-width: 2.5em;
    }
}

h1, h2, h3, h4, h5, .site-lede {
    font-family: "Source Sans", sans-serif;
    margin: 1.25em 0 0 0;
}
.site-lede {
    font-size: 3.5em;
    font-size: clamp( 2.8em, 8vw, 4em );
    line-height: 1;
    max-width: 20ch;
    a {
        color: inherit;
        text-decoration: none;
    }
}
h1 {
    font-size: 1.65em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
p {
    padding-right: 1em;
    font-size: .925em;
    line-height: 1.7;
}
.lede  {
    font-size: 1em;
}

main a {
    text-decoration: none;
    padding: 0 .2em;
    border-radius: 2px;
    color: #111;
    font-style: italic;
    background: rgba(255,255,255,.65);
    position: relative;
    &:hover {
        --active: 1;
    }
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 2px;
        background: radial-gradient(ellipse at calc(var(--x) * 1px) calc(var(--y) * 1px), #fff, transparent 15vmin);
        background-attachment: fixed;
        opacity: var(--active, 0);
        transition: opacity 0.5s;
        z-index: -1;
    }
}

.btn {
    padding: 2.25em 3.5em 2em 3.5em;
    border-radius: 0;
    background: rgba(0,0,0,.85);
    border: 0;
    font-size: clamp( .8rem, 2vw, 1rem );
    color: #49C9D0;
    font-family: "Source Sans", sans-serif;
    cursor: pointer;
    transition: background .2s linear;

    &:hover {
        color: #45D5DD;
        background: #000;
    }
}
.btn-contact {
    margin-top: 1em;
}
.modal {
    border: none;
}
.modal::backdrop {
    background: rgba(0,0,0,.5);
}
.contact {
    background: #000;
    color: #49C9D0;
    padding: 1.5em 1em;
    max-width: 35em;
    width: 100%;
    h2 {
        margin: 0;
    }
    p {
        margin-top: .25em;
    }
    .btn-close {
        position: absolute;
        right: 1em;
        top: 1em;
        height: 1em;
        width: 1em;
        line-height: .1;
        padding: 0 0 .125em 0;
        border: 1px solid red;
        background: none;
        border: none;
        font-size: 1em;
        color: #49C9D0;
        cursor: pointer;
        &:hover {
            color: #45D5DD;
        }
    }
    .btn-send {
        background: #49C9D0;
        color: #000;
        padding: 2em 3.25em 1.65em 3.25em;
        margin-top: 1em;
    }
    label {
        display: flex;
        flex-direction: column;
        font-family: "Adelle", sans-serif;
        font-size: .7em;
        padding: .85em 0 .5em 0;
    }
    input, textarea {
        background: #0E3F3F;
        font-family: "Source Sans", sans-serif;
        color: rgba(255,255,255,.75);
        font-size: 1.4rem;
        margin-top: .2em;
        padding: .65em .7em .4em .7em;
        border: 2px solid #2F8A8E;
        font-weight: normal;
        &:not(:placeholder-shown):invalid {
            border: 2px solid #fff;
        }
        &:valid {
            border: 2px solid #49C9D0;
        }
    }
    textarea {
        min-height: 6.5em;
    }
}

